doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='theme-color', content='#fff')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(property='og:url', content='')
        meta(property='og:image', content='')
        meta(property='og:type', content='website')
        meta(property='og:title', content='InstagramStalk')
        meta(property='og:description', content='InstagramStalk')
        title InstagramStalk
        link(rel='icon', type='image/png', href='/images/favicon.png')
        link(type='text/css', rel='stylesheet', href='/styles/main.css')
        link(type='text/css', rel='stylesheet', href='/styles/mobile.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type='text/javascript', src='/scripts/options.js')
        script(type='text/javascript', src='/scripts/preview-recent.js')
        script(type='text/javascript', src='/scripts/new-posts.js')
        script(type='text/javascript', src='/scripts/search.js')
    body
        main
            header
                .container
                    a(href='/')
                        img.logo(src='/images/logo.svg', width='173', height='40')
                    a(href='/update')
                        img.update(src='/images/update.svg', width='30', height='30')
                    input.search(type='text', placeholder='Search')
            .thumbs.container
                each user in users
                    .thumb(
                        data-username=user.username,
                        data-media=JSON.stringify(user.media)
                    )
                        .profile-pic
                            a(target='_blank', href=user.profileUrl)
                                img.profile-pic-img(src=user.profilePicUrl)
                            a(target='_blank', href=user.profilePicZoomUrl)
                                img.zoom-in-img(src='/images/zoom-in.svg', width='20', height='20')
                        .opt
                            ul
                                li
                                    a(href='#edit') Edit
                                li
                                    a(href='#remove') Remove
                        p.username
                            a(href=user.profileUrl, target="_blank") @#{user.username}
                        p.posts-count #{user.media ? user.media.count : 0} posts
                        p.name #{user.name}
                        p.bio #{user.biography}
                        if user.isPrivate === false
                            .show-posts
